In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [4]:
df = pd.read_csv("yellow_tripdata_2021-07.csv.gz", nrows = 100)

In [13]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [16]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data')) ## this is in DDL (data definition language)
# will need to generate different text that PG will definitely undertand

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [2]:
# pandas uses SQL Alchemy and need to be installed
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine)) ## this is in DDL (data definition language)
# will need to generate different text that PG will definitely undertand

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv.gz", iterator=True, chunksize=100000) # do it a littel at a time

In [23]:
df_iter

In [24]:
df = next(df_iter)

In [26]:
len(df)

100000

In [27]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [ ]:
df

In [30]:
df.head(n=0).to_sql(con=engine, name="yellow_taxi_data", if_exists='replace') # use replace since this is just for column headers

0

In [31]:
%time df.to_sql(con=engine, name="yellow_taxi_data", if_exists='append') # iterate through the whole file and add all the data to the db

CPU times: user 4.69 s, sys: 420 ms, total: 5.11 s
Wall time: 10.1 s

1000

In [32]:
from time import time

In [33]:
# now insert the rest of the dataframe to the table
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(con=engine, name="yellow_taxi_data", if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 9.762 second
inserted another chunk..., took 9.753 second
inserted another chunk..., took 9.522 second
inserted another chunk..., took 9.506 second
inserted another chunk..., took 9.687 second
inserted another chunk..., took 9.417 second
inserted another chunk..., took 9.712 second
inserted another chunk..., took 9.367 second
inserted another chunk..., took 9.661 second
inserted another chunk..., took 9.432 second
inserted another chunk..., took 9.407 second
inserted another chunk..., took 9.709 second
inserted another chunk..., took 9.387 second
inserted another chunk..., took 9.742 second
inserted another chunk..., took 9.363 second
inserted another chunk..., took 9.453 second
inserted another chunk..., took 9.658 second
inserted another chunk..., took 9.377 second
inserted another chunk..., took 9.701 second
inserted another chunk..., took 9.513 second
inserted another chunk..., took 9.580 second
inserted another chunk..., took 9.264 second
inserted another chunk..., took 9.748 second
inserted another chunk..., took 9.371 second
inserted another chunk..., took 9.363 second

/tmp/ipykernel_35291/3171759798.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 9.956 second
inserted another chunk..., took 8.543 second
inserted another chunk..., took 2.000 second

StopIteration:

In [6]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-30 21:50:45--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T215045Z&X-Amz-Expires=300&X-Amz-Signature=19154111ff68fefc9692b061c33b428b1875eb4618c1439d268c3d83d1d448fb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-30 21:50:45--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T215045Z&X-Amz-Expires=300&X-Amz-Signature=19154111ff68fefc9692b061c33b428b1875eb4618c1439d268c3d83d1d448fb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: â€˜green_tripdata_2019-01.csv.gzâ€™

green_tripdata_2019 100%[===================>]  10.58M  --.-KB/s    in 0.1s

2023-01-30 21:50:45 (91.8 MB/s) - â€˜green_tripdata_2019-01.csv.gzâ€™ saved [11099245/11099245]

In [4]:
df = pd.read_csv("green_tripdata_2019-01.csv.gz", nrows = 100)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN