In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv("taxi+_zone_lookup.csv")

In [5]:
df.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [6]:
print(pd.io.sql.get_schema(df, name ='zones')) ## this is in DDL (data definition language)
# will need to generate different text that PG will definitely undertand

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [17]:
# pandas uses SQL Alchemy and need to be installed
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
df.head(n=0).to_sql(con=engine, name="yellow_taxi_data", if_exists='replace') # use replace since this is just for column headers

0

In [31]:
%time df.to_sql(con=engine, name="yellow_taxi_data", if_exists='append') # iterate through the whole file and add all the data to the db

CPU times: user 4.69 s, sys: 420 ms, total: 5.11 s
Wall time: 10.1 s

1000